@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body{
    background-color:black;
    font-family: 'Merriweather', serif;
    display: flex;
    background-image: url(images/leap_year.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
   
    background:transparent;
    color:white;
    padding:5%;
    align-items: center;

}
#btn{
    background-color: white;
    color: #24C6DC ;
    padding:2% 4%;
    border:transparent;
    margin: 2px solid #514A9D;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    font-size: medium;
    font-style: italic;
    position: relative;
    border:2px solid white
}
#btn:hover{
    color: white;
    background-color: #514a9d;
}

textarea{
    height:5vh;
    width:20vh;
    background:white;
    color:#514A9D;
    border:2px solid white;
     
}
::placeholder{
    color:514A9D;
}
#output{
    margin:1% ;
    height:20vh;
    width:20vh;
    color:w#514A9D;
    background-color:white;
}