@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body{
    background-color:#0eccb3 ;
    font-family: 'Merriweather', serif;
    display: flex;
    
    /* background-image: url(images/leap_year.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    padding:2% 25%;
  
}


.container{
   
    background:rgb(255, 255, 128);
    color:black;
    padding:5%;
    align-items: center;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    height:auto;
    width: auto;
    

}

input:invalid{
    background-color:pink;
}
input:valid{
    background-color:powderblue;
}
input + span {
    position: relative;
  }
  
  input + span::before {
    position: absolute;
    right: -20px;
    top: 1px;
  }
  
  input:invalid {
    border: 2px solid red;
  }
  
  input:invalid + span::before {
    content: '✖';
    color: red;
  }
  
  input:valid + span::before {
    content: '✓';
    color: green;
  }
#btn{
    background-color: rgb(102, 177, 5);
    color: white ;
    padding:2% 4%;
    border:transparent;
    margin: 2px solid magenta;
    
    font-size: medium;
    font-style: italic;
    position: relative;
    border:2px solid white
}
#btn:hover{
    color: white;
    background-color: magenta;
}


#output{
    margin:1% ;
    height:20vh;
    width:wrap;
    color:black;
    background-color:transparent;
}